.type1{
    background-image: url(../images/images/bg-image-28.jpg);
    background-size: cover;
    height: 100vh;
}

.type2{
    background-image: url(../images/images/bg-image-29.jpg);
    background-size: cover;
    height: 100vh;
}
.caption{
    height: 100%;
}


.caption h1{
    font-size: 100px;
    font-weight: 700;
}



.sec3container{
    background-color: #F5F5F5;
}
.s3uppergroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec3line{
    height:7px;width:50px;background-color:#0078FF;
    margin-bottom: 15px;
}
.s3element{
    text-align: center;
    /* background-color: teal; */
    padding: 20px;    
}
.s3element p{
    padding: 10px;
}
.s3element i{
    margin:15px 0px;
    font-size: 55px;
    background-color:white;
    padding: 22px;
    border-radius: 50%;
    border: 8px solid #1784FF;  
    /* animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 0.2s; */
    
}
.s3element i:hover{
    color:white;
    background-color:#1784FF;    
    border: 8px solid rgba(223, 235, 248, 0.432);
}
.s3elementinnerdiv{
    background-color: white;
    border-radius: 3%;
    box-shadow: -1px 16px 8px -11px rgba(0,0,0,0.26);
    -webkit-box-shadow: -1px 16px 8px -11px rgba(0,0,0,0.26);
    -moz-box-shadow: -1px 16px 8px -11px rgba(0,0,0,0.26);
}

/*sart fifth section*/
.portfolio{
    margin-top: 50px;
    margin-bottom: 20px;
}
.portfolio .col-md-4{
    margin: 20px auto;
}
.portfolio .item-link{
    color: #1e1e1e;
}

.portfolio .item-link:hover{
    text-decoration: none;
}
.portfolio .item-car-img{
    overflow: hidden;
    display: block;
}
.portfolio .card .card-img-top{
    transition: ease-in-out 0.7s all;
}
.portfolio .item-link:hover .card-img-top{
    transform: scale(1.3);
}

.portfolio .card-title{
    font-size: 1.4rem;
}

.portfolio .card-text{
    font-size: 0.9rem;
}

.portfolio .card-text .item-title{
    color: #0078ff;
}
.portfolio .card-text .fa-2x{
    border: 1px solid #0078ff;
    border-radius: 50%;
    padding: 4px;
    color: #0078ff;
    position: absolute;
    right: 15px;
    bottom: 30px;
}
/*End fifth section*/

 /* start footer */

          /* start contact */

          footer{

            padding-top:100px ;
          }
          .contact{
              padding: 100px 0;
          }

          .contact .contact-heading h2{

            margin-bottom: 20px;
            font-size: 40px;
            line-height: 38px;
            font-weight: 700 ;}

            
          .contact .contact-heading p{
            font-size: 19px;
            padding: 10px 0 40px;
          }
          .contact h3 {

            font-size: 30px;
            font-weight: 700;
       
          }
          .contact .data{

            border-bottom: 1PX solid #eee;

          }
          .contact .data .data-icon{

            color:rgba(242, 84, 84, 0.85);
            margin-top: 40PX;
        

          }
          .contact .data .data-content{

            margin-left: 20px;
            margin-top: 30PX;
            
            
          }
          .contact .data .data-content h6{
              font-size: 19px;
              font-weight: 600;

          }
          .contact form{

            padding: 15px 0;
            padding: 20px 0 ;
            
          }
          .contact form .form-control {

           margin-bottom: 30px;
           }
          
          .contact form button{

            padding: 13px 40px;
            font-size: 15px;
            font-weight: 600;
          }
        /* end footer */


        .four{
            margin:40px;
        
        }
        .four1{
            width: 100%;
            background-color: darkgray;
        
        }
        .browen{

            margin: 10px;
            background-color: brown;
        
        }
        